/*-----footer-----*/
.bottom_bar{
    height: 8vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: white;
    border: solid rgb(200, 200, 200);
    border-width: 2px 0 0 0;
}
.bottom_bar .bx{
    font-size: 8vw;
    padding: 3vw;
    color: black;
}