@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
    font-family: 'Jua', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none; /* (인터넷 익스플로러) 스크롤바 삭제 */
    scrollbar-width: none; /* (파이어폭스) 스크롤바 삭제*/
    
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
/* ( 크롬, 사파리, 오페라, 엣지 ) 스크롤바 삭제 */
*:-webkit-scrollbar {
    display: none;
}
html, body{
    width: 100vw;
    height: auto;
}

/*-----header-----*/
header{
    height: 8vh;
    padding: 3vh 0 2vh 3vw;
    background-color: white;
    border: solid rgb(200, 200, 200);
    border-width: 0 0 2px 0;

    display: flex;
    align-items: center;
}
header .bx{
    font-size: 2em;
    display: inline-block;
}
header .cityname{
    font-size: 1.3em;
    margin: 0.1em 2vw 0 2vw;
}
header .date{
    font-size: 0.9em;
    padding: 1vh 0 0 0;
    color: gray;
}

/*-----main-----*/
main{
    width: 100vw;
    height: auto;
    display: inline-block;
    flex-direction: column;
}
main .change_city{
    margin: 3vh 0 5vh 0;

    display: flex;
    justify-content: center;
}
main .bx{
    font-size: 2em;
}
main span{
    margin: 0 3vw;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

main .plan{
    padding: 0 3vw 8vh 0;
}
main .section{
    width: 97vw;
    height: 10vh;
    margin: 4vh 0;

    display: flex;
    align-items: center;
}
main .section .order{
    width: 17vw;
    height: 11vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
main .section .order .number{
    width: 4vh;
    height: 4vh;
    z-index: 10;
    
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .section .order .line{
    height: 14vh;
    position: relative;
    top: 0;
    left: -2vh;
    border-left: solid rgb(100, 100, 100) 2px;
}
main .section .spot{
    width: 80vw;
    height: 100%;
    padding: 0 2vw;
    display: inline-block;

    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    align-items: center;    
}
main .section .spot .bxs-map-pin{
    font-size: 1.5em;
    margin: 0 2vw;  
}
main .section .hotel{
    background-color: rgb(200, 244, 255);
}
main .section .hotel .bx{
    font-size: 1.5em;
    margin: 0 2vw;
}
main .section .moving{
    background-color: rgb(190, 190, 190);
}
main .section .moving .bx{
    font-size: 1.5em;
    margin: 0 2vw;
}

