@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
    font-family: 'Jua', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none; /* (인터넷 익스플로러) 스크롤바 삭제 */
    scrollbar-width: none; /* (파이어폭스) 스크롤바 삭제*/
    
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
/* ( 크롬, 사파리, 오페라, 엣지 ) 스크롤바 삭제 */
*:-webkit-scrollbar {
    display: none;
}
html, body{
    width: 100vw;
    height: 100vh;
}
/*-----header-----*/
header{
    height: 8vh;
    padding: 3vh 0 2vh 3vw;
    background-color: white;
    border: solid rgb(200, 200, 200);
    border-width: 0 0 2px 0;

    display: flex;
    align-items: center;
}
header .bx{
    font-size: 2em;
    display: inline-block;
}
header .countryname{
    font-size: 1.3em;
    margin: 0.1em 2vw 0 2vw;
}

/*-----main-----*/
main{
    width: 100vw;
    margin: 3vh 0 0 0;
    overflow: hidden;

}
main .swiper{
    margin: 0 5vw;
}
main .slider{
    width: 260vw;  
    height: 9vh;
}
main .slider .slide{
    border-radius: 20%;

    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    background-color: rgb(228, 228, 228);
}
.Sat{
    color: blue;
}
.Sun{
    color: red;
}
main .slider .slide .day_of_the_week{
    font-size: 0.7em;
    margin: 0.5vh 0 0 0;
}
main .slider .slide .day{
    font-size: 1.1em;
    font-weight: bold;
}

.Date{
    width: 100%;
    height: auto;
    margin: 6vh 7vw 0 7vw;
    font-size: 0.8em;
}
/*-----section-----*/
.section{
    margin: 3vh 0 8vh 0;
    padding: 0 0 8vh 0;
}
.plan{
    width: 100vw;
    height: 15vh;
    margin: 0 7vw 0 7vw;
    display: flex;
    overflow: auto; 
}
.plan .letter{
    width: 65vw;
    display: inline-block;
}
.plan .title{
    margin: 0 0 1vh 0;
    font-size: 1em;
}
.plan .detail{
    font-size: 0.9em;
    color:rgb(110, 110, 110);
    line-height: 150%;
}
.plan .bx{
    vertical-align: -5%;
}
.plan img{
    width: 20vw;
    height: 20vw;
    border-radius: 10%;
}
main .line{
    width: 80vw;
    height: 3vh;
    position: relative;
    left: 10vw;
    border-top: solid rgb(200, 200, 200) 2px;
}