@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
    font-family: 'Jua', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none; /* (인터넷 익스플로러) 스크롤바 삭제 */
    scrollbar-width: none; /* (파이어폭스) 스크롤바 삭제*/
    
}
/* ( 크롬, 사파리, 오페라, 엣지 ) 스크롤바 삭제 */
*:-webkit-scrollbar {
    display: none;
}
html, body{
    width: 100vw;
    height:100vh;
}

/*-----header-----*/
header{
    width: 100%;
    height: 7vh;
}
.logo_home{
    content:url(image/logo_home.jpg);

    width: 3em;
    height: auto;
    margin: 1em 0 0 1.5em;
}

/*-----main-----*/
main{
    width: 100%;
    height: 90vh;
}

.category{
    width: 100%;
    height: 100%;

}
.country_letter{
    display: flex;  
    overflow: hidden;
    font-size: 1.2em;

    margin: 4vh 0 0 10vw;
    height: 6%;
}
.country_button{
    color: rgb(135, 135, 135);
    transition: all 0.3s ease;

    display: flex;
    float: left;
    margin: 0 5vw 0 0;
}

.category_image{
    width: 100%;
    height: 20vh;
    margin: 3vh 0vw 0 0vw;

    list-style-type: none;
    display: flex;
    float: left;
    text-align: center;
}
.category_image li{
    margin: 0 0 0 5vw;
}
.category a{
    text-decoration: none;
    color: black;
}
.category_image img{
    width: 15vw;
    border-radius: 50%;
}
.category_image .slick-track{
    margin: 0 0 0 2vw;
}
.city_image{
    width: 90vw;
    height: auto;
    
    margin: auto;
    display: block;

    border-radius: 5%;
    box-shadow: 0 5px 10px rgb(115, 115, 115);
}

/*-----header click event-----*/
.Italy .Italy, .Austria .Austria,
.Germany .Germany, .Czech .Czech{
    color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.7em;
}